<h1>Climbing</h1>
<p class="justify">
  <img src="/assets/climbing_gorge.jpg" alt="Climbing in the Gorge" style="margin: 0px 0px 0px 20px; max-width: 100%; float: right;"/>
  UBES go climbing every Wednesday afternoon, as well as pretty much anytime when the weather is good!
  In the summer we go outdoors in the gorge, but when it's cold and wet we go to one of
  <a href="<%= page_path('climbing/climbing_wall') %>">Bristol's indoor walls</a>. There are
  many  opportunities to climb during the week, someone's always organising a trip to the gorge
  or Goblin Coombe. Post a message on <a href="https://www.facebook.com/groups/2202694095/">facebook</a>
  to get involved!
</p>
<h2>Wednesday Climbing</h2>
<p class="justify">
  We meet at 1pm outside the Info Point on Tyndall Avenue (between the Arts &amp; Social Sciences Library and the
  Sports Centre) and walk down to one of the climbing walls as a  group. The route can be a bit complex, but
  you are welcome to meet us there. Generaly speaking, Climbing is from 2pm until about 5pm or until you get hungry/tired.
</p>
<h2>New to Climbing?</h2>
<p class="justify">
  At the start of the year we normally run introductory climbing sessions specifically designed to teach beginners
  the basics of learning to climb! If your interested email the <a href="mailto:ubes-committee@bristol.ac.uk">Commitee</a>!
</p>

<h2>Kit</h2>
<p class="justify">
  You will need to bring:
</p>
<ul>
  <li>Loose clothes</li>
  <li>Trainers or climbing shoes</li>
</ul>
<p class="justify">
  You will also need a harness, but you can borrow one off the society or hire one there (first option is the cheaper option - free!!).
  The society also has lead ropes for your use.
</p>
<p class="justify">
  If you already have your own gear and don't want things to get mixed up or lost, then have a look at our handy
  <a href="<%= page_path("climbing/gear_tape") %>">Gear Tape</a> page.
</p>

