<h1>Gear Tape</h1>
<p>
  To identify what pieces of kit are yours, UBES highly recommends the trusted technique of attaching small
  pieces of insulating tape to every item of gear that you own. To confirm whose colour is who owns what colour,
  or to check that your colour hasn't already been taken, a handy list is shown below:
</p>
<div class="responsive-video" >
  <iframe width='940' height='600' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0At0Rz5OfdhrVdFhpZmRPRFBDVURSejRxTEVWeHRqdEE&single=true&gid=0&range=B2:L26&output=html&seamless'></iframe>
</div>

