
<h1>Winter in Scotland</h1>
<p>Every Christmas holiday, Ubesters brave the cold, snowy conditions of the Scottish Highlands to enjoy a week of winter walking, scrambling, ice climbing, and the finest food the society has to offer!</p>
<p>We usually head to the Fort William area, a perfect base for tackling many of Scotlands finest and most rugged peaks. We visit the likes of Glen Coe, Ben Nevis, the Marmores, and sometimes as far afield as the Cairmgorms. </p>
<p>Winter Skills training (learning how to safely using crampons and an ice axe) is provided for people who are new to winter walking. </p>
<p>Bunkhouse raves, bum sliding, mental weather, roast dinners and unhealthily cold lake bags are all common occurrences on what people usually describe as the best trip of the year!</p>

<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-4'>
        <a href="<%= page_path("scotland/2012") %>">
          <img src="/assets/images/expeditions/Scotland/Scotland_12_thumb.jpg" alt="Scotland 12" class="center-body"/>
        </a>
      </div>
      <div class='col-md-8'>A week of fantastic Weather, Walking, Ice Climbing and Christmas Dinner!</div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-4'>
        <a href="<%= page_path("scotland/2011") %>">
          <img src="/assets/images/expeditions/Scotland/Scotland_11_thumb.jpg" alt="Scotland 11" class="center-body"/>
        </a>
      </div>
      <div class='col-md-8'>Snow, Wet and Wild Weather and New Year festive fun on yet another UBES trip to Scotland. See what we got up to in Winter 2012!</div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-4'>
        <a href="<%= page_path("scotland/2008") %>">
          <img src="/assets/images/expeditions/Scotland/Scotland_08_thumb.jpg" alt="Scotland 12" class="center-body"/>
        </a>
      </div>
      <div class='col-md-8'>Scotland. Burst tyres, bunkhouse raves, crossing rivers, camping in ridiculous weather, lake bagging, ice climbing, winter routes, winter skills, mental weather, ice axe arrests (very necessarily), Nevis, Glen Coe, Cairngorms, trifle, and SO MUCH SNOW</div>
    </div>
  </div>
</div>

