<div class='row'>
  <div class='col-md-6'>
    <h1>Doug</h1>
    <p>
      As quiet as a mouse<br />
      But strong as an ox<br />
      Stands 6ft tall<br />
      And King of the rocks!
    </p>
    <p>
      The one that I talk,<br />
      Of course, it&rsquo;s our Doug!<br />
      He's softly spoken<br />
      But sure ain't no mug</p>
    <p>
      Back in the Alps<br />
      He lead like a star<br />
      I fumbled and bumbled<br />
      and fell off quite far</p>
    <p>
      No worry said Doug<br />
      With quiet application<br />
      Slung our rope over spike<br />
      To gift our salvation</p>
    <p>
      In them Scotland hills<br />
      He led up with hope<br />
      But I dropped my gloves</p>
    <p>
      &lsquo;Oh Harry, you dope!&rsquo;
    </p>
    <p>
      T&rsquo;was on gully green<br />
      And, gosh, what a route!<br />
      But were not it for Doug<br />
      I'd <em>have</em> been kaput.
    </p>
    <p>
      He treads light and fast<br />
      Ov&rsquo;r <em>both</em> rock and snow<br />
      Wait for <em>me</em> Douglas<br />
    Where do <em>I</em> go?
    </p>
    <p>
      So when <em>you</em> will to climb<br />
      But not&rsquo;eth to plummet<br />
      Find our dear Doug<br />
      He'll get you t&rsquo;summit &hellip;
    </p>
    <p>
      One bit of advice<br />
      When speaking to Doug<br />
      Avoid that <em>bull</em>shit<br />
      'Cause he ain't no mug!
    </p>
  </div>
  <div class='col-md-6'>
    <p><em><img src="/assets/doug.jpg" alt="Doug - My Hero!" class="center-block" />(by Harry, Scotland '08) </em></p>
  </div>
</div>
