<div class="row">
  <h1>Kit List</h1>
  
  <p class="justify">It’s really important that you bring the right kit on weekend trips for your own safety on the mountain (and to allow optimal for fun). A lot of kit (*) can be borrowed from UBES- simply drop our Kit and Safety officer an <a href="mailto:ubes-kit@bristol.ac.uk">email.</a> Additionally, if you’re missing an item of personal kit, drop a question on the <a href="http://www.facebook.com/groups/2202694095/?fref=ts">Facebook forum</a> and one of our lovely members might just be able to help you out!</p>

  <p class="justify">Use this list as a guide:</p>
  <ul>
    <li> Sleeping bag * </li>
    <li> Sleeping matt * </li>
    <li> Day rucksack (20-40L) </li>
    <li> Plastic survival bag (can be bought from UBES) </li>
    <li> Headtorch (can be bought from UBES) </li>
    <li> Small first aid kit </li>
    <li> Extra snacks and emergency food </li>
    <li> Water bottle(s) to carry around 1L of water </li>
    <li> Dry bags/plastic bags/rucksack cover (to keep your spare layers dry) </li>
  </ul>
  
  <p class="justify">  Headtorches (£15) and plastic survival bags (£3) are not available to borrow, but can be bought from UBES at bargain prices. UBES provides ice axes and crampons free of charge to members on walks that require them.</p>

<h3>  Clothing: </h3>

  <ul>
    <li> Base layer (basically anything but cotton) </li>
    <li> Warm layer, eg. fleece </li>
    <li> Spare warm layer </li>
    <li> Walking trousers/leggings/tracksuit trousers (NOT jeans) </li>
    <li> Waterproof jacket </li>
    <li> Waterproof over trousers </li>
    <li> Hat and gloves </li>
    <li> Walking boots (with ankle support) and socks </li>
    <li> Clothes for the evening </li>
    <li>limbing trip specific items: </li>
    <li> Loose fitting clothing </li>
    <li> Climbing shoes  </li>
    <li> Any other climbing equipment you have </li>
  </ul>
  
<h3>  Non essential things you might want to bring along if you have: </h3>
  <ul>
    <li> Whistle  </li>
    <li> Mobile phone </li>
    <li> Gaiters </li>
    <li> Scarf/Buff </li>
    <li> Camera  </li>
    <li> Any UBESwear you have- so you can flaunt it! </li>
  </ul>
<h3>  Optional fun stuff: </h3>
  <ul>
    <li> ID (for cheeky spoons trips…) </li>
    <li> Ipods loaded with cheesy tunes </li>
    <li> Alcohol for the evening </li>
    <li> Games/items of fun for the evening. </li>
  </ul>
</div>
<div class="row">
<p class="justify"><a href="https://www.thebmc.co.uk/mountain-clothing-for-climbing-and-walking ">This article</a> from the British Mountaineering Council gives some good advice about keeping warm and dry on the mountain.</p>

<p class="justify">Don’t worry, you don’t need to fork out loads for kit! In general; avoid anything cotton or jeans- they’re too slow to dry, and bring plenty of layers to stay warm. A quick fix for a waterproofs and boots that might have passed it prime is using NicWax Tech Wash and Reproofer.</p>

<p class="justify">If you’re looking to buy some more kit, why not come along to our kit night held at Cotswold </p>

<p class="justify">Outdoor in the where UBES members can get huge discounts on all kinds of kit. It is held in the autumn term and the date will be released on the <a href="http://bristolexpeditions.blogspot.co.uk/p/blog-page_10.html">calendar.</a> Any queries on what to bring drop us an <a href="mailto:ubes-kit@bristol.ac.uk">email.</a></p>

<p class="justify">Borrowing kit from UBES - a message from our Kit and Saftey officers:</p>
<div id="kit_message"
     style="padding: 10px 50px 10px; font-style: italic;">
<p class="justify">UBES is happy to lend out our kit to paid members throughout the year and even over the summer.</p>

<p class="justify">The kit available varies from tents and sleeping mats to stoves. We can even lend out ice axes and crampons for people seeking to do winter walks. There are also maps and guidebooks covering most of the UK’s national parks and even places further afield for planning your own trip.</p>

<p class="justify">Climbing kit including harnesses, shoes, ropes and a fully equiped trad rack are all available for people who have shown that they know how to use the equipment safely and properly. The only exception to this is that harnesses will be taken down to Redpoint climbing wall on Wednesday afternoon climbing sessions by the committee for people to borrow for the afternoon.</p>


<p class="justify">There is no charge to use our equipment, just please return it in the same condition as soon as you can. All you need to do to borrow some kit is email our kit and safety officers. [hyperlink to contacts page]</p>
</div>
</div>

