<div class="row">

  <h1 style="padding: 10px">Scotland Trip</h1>
  <div class="col-md-8">
    <p class="justify">Over the Christmas break, UBES runs a week long trip to Scotland, to make up for the (probably) lack of a white Christmas in England! Usually based in Fort William or Glencoe, UBES members take full advantage of Scotland’s epic range of winter mountaineering routes, with the more experienced members getting up before the sun for some ice and mixed climbing, and the majority making use of UBES’ ice axes and crampons for some snowy Munro-bagging. For those with no previous experience of winter walking, there is the opportunity to take part in a heavily subsidised <a href="<%= page_path('new/training') %>">Winter Skills Course.</a></p>

    <p class="justify">The trip is normally oversubscribed, and offers of places will be based on levels of interest and enthusiasm shown throughout the term for all things UBES; we want to ensure our keenest members get the chance to go on this brilliant trip.</p>

    <p class="justify">Interested? Look out for our information evening in first term on the UBES calendar or on the Facebook forum.</p>
    
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/scotland_1.jpg"/>
  </div>
</div>


