<div class="row">
  <h2>What to expect</h2>
    <p class="justify">Coming on a UBES weekend trip you should be prepared for at least one good day’s mountain walking (though this is, of course, weather-dependant), and you should come ready to participate in lots of UBES organised fun!  </p>

    
    <p class="justify">Each day we split into smaller groups and offer a range of walks- from easier walking routes to challenging longer walks and even scrambling. We aim to have every walk lead by a Mountain Leader trained member or an experienced mountaineer- so if you’re new to the mountains and navigation you’re in safe hands. Anyone with a basic level of fitness, some simple walking kit and a sense of adventure are welcome!</p>

    
    <p class="justify">Our weekend trips are often exhausting, but are a lot of fun and very sociable. They’re a great way to escape the city, enjoy new experiences, and meet a bunch of friendly new people – definitely worth the money!</p>


    <h3>How much?!</h3>
    
    <p>£45 for the weekend covers:</p>

    <ul>
      <li> Transport (via car or minibus) </li>
      <li> Accommodation </li>
      <li> Food: Packed lunch for both days (sandwich, apple, chocolate, cake), Saturday dinner, Saturday and Sunday breakfast </li>
    </ul>
    <h3>How do I sign up?</h3>

    <p class="justify">Sign up usually occurs two Wednesdays before a trip, at the Info Point next to the ASS library. If you sign up to our mailing list you will be notified of the dates and times of individual trip sign ups. Also, check out our calendar for trip dates/</p>

</div>
