<div class="row">
  <div class="col-md-12">
    <h1>Where we go</h1>
    <p class="justify">Our fortnightly weekend trips venture all over the UK in order to reach the best walking, scrambling and climbing locations. Transport is usually by car/minibus, although we’ve also used the train to get to the Brecon Beacons on smaller trips. </p>

    <p class="justify">Additionally, some of our members take the UBES mentality and energy further to organise their own unofficial trips; tackling the Welsh 3000s, which are often reported on our blog.</p>

    <p class="justify">Some of our regular trip locations are:</p>
  </div>
</div>

<div class="row destination">
  <div class="col-md-8">
    <h3>Breacon Beacons</h3>
    <p class="justify">The Brecon Beacons trip is the first trip of the year on the UBES calendar. It’s perfect for your first trip or getting to know the UBES freshers if you’re an oldie. It’s only a few hours away, has some great peaks - such as the classic Pen Y Fan- and boasts great views of the surrounding rolling hills. In the evenings, we never fail to host classic UBES ‘organised fun’ at the bunkhouse.</p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/trips_1.jpg" />
  </div>
</div>
<div class="row destination">
  <div class="col-md-8">
    <h3>Lake District</h3>
    <p class="justify">The Lake District offers a variety of walking, scrambling and climbing opportunities. Expect UBES to be doing anything from the picturesque Fairfield Horseshoe to scrambling up Striding Edge or summiting Scafell Pike. Whatever peaks you end up on, you’ll get some amazing views (weather permitting) and plenty of lake bagging opportunities. There is a trip to the lakes at least once in both the Autumn and Spring terms. Accommodation is often at the Thirlmere Village hall.</p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/trips_2.jpg" />
  </div>
</div>

<div class="row destination">
  <div class="col-md-8">
    <h3>Snowdonia</h3>
    <p class="justify">
      Slightly closer to home, Snowdonia is barren and dramatic. Popular walks include Tryfan and the Glyders, the Carneddau and the Snowdon Horseshoe. Walks range from gentle bimbles and rewarding slogs to exciting scrambling routes such as the knife edge ridge of Crib Goch. Look forward to profile picture opportunities on The Cannon, adventurous scrambles, and panoramic views at the top of Snowdon. In the past few years we’ve held our <a href="<%= page_path(new/">Annual General Meeting</a> here.
    </p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/trips_3.jpg" />
  </div>
</div>

<div class="row destination">
  <div class="col-md-8">
    <h3>Mendips</h3>
    <p class="justify">
      The Mendips is Bristol’s most local outdoor playground. While it doesn’t provide a weekends worth of walking, it is the perfect location for the UBES Mendips Challenge. Held towards the end of first term, UBES members don ridiculous fancy dress and compete in teams in a variety of hilarious challenges on the hills. That evening we return to bristol to scrub up for the annual UBES black tie house party- where the festivities continue with UBES punch and vocal performances from each team.
    </p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/trips_4.jpg" />
  </div>
</div>

<div class="row destination">
  <div class="col-md-8">
    <h3>Yorkshire Three Peaks</h3>
    <p class="justify">
      We head to here most years to tackle the Yorkshire 3 Peaks. Although not as iconic as the National 3 Peak Challenge- don’t underestimate it! Teams aim to summit the peaks of Pen-y-ghent, Whernside and Ingleborough in under 12 hours- a distance of 25 miles and ascent of 1672m. Don’t be put off though- with motivation from your team mates, the miles fly by. The Sunday after the challenge often starts slowly with a cooked breakfast before a gentle walk exploring the rock face and waterfalls in Malham.
    </p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/trips_5.jpg" />
  </div>
</div>

