
<h1>UBES Kit Policy</h1>
<h2>UBES Kit Information</h2>
<ul>
<li>UBES has a large amount of kit for use by the society members however much of the kit is expensive and can be dangerous if used improperly. </li>
<li>The society does not charge for the loan of kit to society members. To borrow kit members should speak to the Kit and Safety or Climbing Kit Officer. If members are unsure who this is then email the committee on ubes-committee@bristol.ac.uk. </li>
<li>Members that have UBES kit that they are not using should return it to the Kit and Safety Officer as soon as possible.</li>
<li>UBES has a kit store in the University of Bristol Students Union Building and the committee has access to the store.</li>
<li>The climbing gear may be stored at the home of the Climbing Kit Officer in order to ensure greater maintained and accountability of gear.</li>
<li>The Climbing Kit and Kit and Safety Officer will only loan kit out to members that they believe are competent to use it.</li>
<li>The Kit and Safety Officer shall check society kit at least once a year.</li>
<li>All damaged and retired kit must be clearly marked and ideally destroyed by the Kit and Safety or Climbing Kit Officer.</li></ul>
<p></p>

<h2>Borrowing UBES Kit Rules</h2>
<p>By borrowing UBES Kit you agree to abide by the rules below:
<ul>
<li>It is the responsibility of each member to check the kit before they use it.</li>
<li>Do not use Kit, especially technical gear, that you are not competent or trained in using. If you are in doubt then don't use the kit and seek help.</li>
<li>Do not use Kit for uses other than its intended purpose, if you are not sure what this is then ask.</li>
<li>Lost or damaged kit must be reported to the Kit and Safety Officer as soon as possible. </li>
<li>Where kit is lost or damaged by carelessness the member will be required make a contribution to replace it. This will normally be 50% of the item&#39;s value. This may be lowered in the case of very expensive items at the discretion of the Committee. </li>
<li>The way that the society functions means that signing out kit or leaving deposits would not be appropriate. This means that members need to be honest when reporting lost or damaged kit. Members who do not abide by this rule will be confined to more restrictive borrowing rules. </li></p></ul>
</p>

