

<h1>The BMC Participation Statement</h1>
<p>The  University of Bristol Expedition Society is <strong>not</strong> an affiliate member of  the British Mountaineering Council, however society members need to be aware  that the meaning of the BMC's participation statement also applies to them, and  that you are responsible for yourself in the hills/on a climb.</p>
<blockquote>
  <p>&quot;The  BMC recognises that climbing and mountaineering are activities with a danger of  personal injury or death. Participants in these activities should be aware of  and accept these risks and be responsible for their own actions and  involvement.&quot;</p>
</blockquote>

<h1>Safety Recommendations </h1>
<!--<p><em>The latest UBES Risk Assessment document can be found on the <a href="../usefulinfo/downloads">downloads page</a>. </em></p>-->
<p><strong>The University   of Bristol Expeditions Society  recommends that the following procedures are followed during these high  mountain activities.</strong></p>
<h2>Hiking</h2>
<ol>
  <li>Each member of the group should       carry waterproof jacket and trousers in mountainous conditions. </li>
  <li>Hiking boots with ankle support       are worn. </li>
  <li>Each group member should carry       a survival bag, torch and appropriate warm clothing (e.g. hat &amp;       gloves). </li>
  <li>Each group should carry a       survival shelter (fit for the whole group), first aid kit and appropriate       food for the trip. </li>
  <li>It is recommended that each       group should have a First Aider. </li>
  <li>It is recommended that each       group leader explains the route to the group. </li>
</ol>
<h2>Scrambling</h2>
<ol>
  <li>Before embarking on a scramble       the guide is read thoroughly by the leader and party members are informed. </li>
  <li>People who have not scrambled       before should not attempt above a grade 1 unless they have previous       climbing experience. </li>
  <li>If a scramble is considered for       the weekend the leader should print out a weather forecast and act       appropriately. </li>
  <li>Helmets should be worn if       scrambling in a gully or if the leader is not familiar with the route. </li>
  <li>On a grade one scramble a       confidence rope is carried by a proficient leader. </li>
  <li>On a grade two or above       harnesses, rope and appropriate gear should be carried. </li>
  <li>A scramble of grade two or       above should have no more than four people in a group. Obviously if there       are 12 people wanting to do the same scramble then there can be three       groups, each with their own rope and gear. They should move with these       groups over the technical ground. </li>
</ol>
<h2>Climbing: General guidelines</h2>
<ol>
  <li>Helmets must be warn at all       times while at crags and any situation where there is a danger of falling       objects to protect against falling debris and head injuries.</li>
  <li>No soloing.</li>
  <li>One helmet, harness and belay       plate to be provided by the club for each member who requires it to enable       members to climb safely.</li>
  <li>Who&rsquo;s climbing with whom and       where they are climbing should be noted down in the route book on weekends       away.</li>
  <li>Sufficient guidebooks should be       provided so that all groups have access and so that suitable routes can be       chosen.</li>
  <li>Lead climbers must inform all       members of access /descent paths off the crag.</li>
  <li>Check partner&rsquo;s knots/belay       device/harness before each climb.</li>
  <li>As far as possible/practical       the group should stay together.</li>
</ol>
<h2>Single Pitch Sport</h2>
<ol>
  <li>Choice of crag should be       selected according to the trip size and group ability.</li>
  <li>Climbing groups should consist       of at least one competent leader and one competent belayer. One of these       must supervise or perform belaying.</li>
  <li>Seconds reminded not to unclip       at the top.</li>
</ol>
<h2>Single Pitch Trad</h2>
<ol>
  <li>Climbing group size must be no       more than three and should have at least one competent leader and one       competent second. This allows safe climbing, with competent belaying from       top to bottom with a maximum of one second on each of the double ropes.</li>
  <li>Choose climbs according to the       group&rsquo;s ability.</li>
  <li>Ensure that you have suitable       gear for the route.</li>
  <li>Ensure that the group is aware       of what will happen when they reach the top.</li>
</ol>
<h2>Multipitch Climbing</h2>
<ol>
  <li>Climbing group size must be no       more than three and should have at least one competent leader and one       competent second. This allows safe climbing, with competent belaying from       top to bottom with a maximum of one second on each of the double ropes.</li>
  <li>Climbing groups of three must       use double ropes.</li>
  <li>Take appropriate gear for the       route.</li>
  <li>Head torches and water must be       taken along with appropriate clothing for the current weather conditions       to enable safe completion and retreat of route if it takes longer than       expected.</li>
  <li>Do not start a multipitch climb       if the weather looks as though it will affect your ability to climb, eg.       Rain.</li>
  <li>Have realistic climbing times       so as not to end up climbing in the dark.</li>
  <li>Plan a descent before starting       so you know how to get off the climb at the top.</li>
  <li>Consider a retreat from each       pitch of the climb so if an accident occurs you know how to retreat.</li>
</ol>
<h2>Bouldering</h2>
<ol>
  <li>Ensure that there are       sufficient mats and spotters according to the route to enable a safe       landing.</li>
  <li>Helmets must be worn where it       is deemed necessary by the route/bouldering leader.</li>
  <li>Ensure a safe descent is       possible and advise the group before commencing as boulders can often have       dangerous descents.</li>
</ol>
<h2>Kit</h2>
<ol>
  <li>Club members are advised to       check their equipment in line with current BMC recommendations.</li>
  <li>Society kit should be checked       at least once a year to ensure that all equipment is safe to use.</li>
  <li>Damaged and old gear shall be       destroyed so that it cannot be used again.</li>
</ol>
<h2>Unofficial Trips</h2>
<ol>
  <li>An unofficial trip is one that       is organised by members of the society but is not run by the society. All       the people present on the trip may be members of UBES but this does not       make it an UBES trip.</li>
  <li>For a trip to be an official       trip it must be presented to the committee for approval and a trip       registration form must be presented to the Health and Safety Advisor.</li>
  <li>The union states that if a trip       registration form is not passed onto the Health and Safety Advisor then       the trip is not recognised as an official UBES trip.</li>
  <li>However if a trip wishes to use       Society kit, you must adhere to the guidelines set out above.</li>
  <li>If any money goes through the       UBES bank accounts it becomes an official trip and a trip registration       form must be filled out.</li>
</ol>

