<h1> Trips </h1>

<h3> Where we go </h3>
<div class='row'>
  <div class='col-md-8'>
    <h4>Where?</h4>
    <p class="justify">
      Fortnightly weekend trips take us all around the UK. Snowdonia and the Lake District are home to some of the UK’s most majestic mountains, sweeping valley views and exciting knife-edge ridges, making these two of UBES’ favourite destinations. We also run trips to the Brecon Beacons and the Yorkshire Dales, where we make an annual attempt at the Yorkshire 3 Peaks Challenge.
    </p>

    <p class="justify">
      Additionally, some of our members take the UBES mentality and energy further to organise their own unofficial trips; tackling the Welsh 3000s, for example.
    </p>


    <h4>What to expect?</h4>

    <p class="justify">
      Coming on a UBES weekend trip you should be prepared for at least one good day’s mountain walking (though this is, of course, weather-dependant), and you should come ready to participate in lots of UBES organised fun! Our weekend trips are physically demanding, but are a lot of fun and very sociable. They’re a great way to escape the city, enjoy new experiences, and meet new people – definitely worth the money!
    </p>

    <h4>How much?</h4>
    <p class="justify">
      £45 for the weekend covers all your transport and accommodation, as well as Saturday’s food and Sunday’s breakfast and lunch.
    </p>
    <h4>How do I sign up?</h4>

    <p class="justify">
      Sign up usually occurs two Wednesdays before a trip, at the Info Point next to the ASS library. If you sign up to our mailing list you will be notified of the dates and times of individual trip sign ups.
    </p>
  </div>
  <div class='col-md-4'>
    <img src="/assets/static/trips_1.jpg" style="padding: 10px"/>
    <img src="/assets/static/trips_2.jpg" style="padding: 10px"/>
    <img src="/assets/static/trips_3.jpg" style="padding: 10px"/>
  </div>
</div>

<div class="row">
  <div class='col-md-8'>
    <h3>Scotland</h3>

    <p class="justify">
      Over the Christmas break, UBES runs a weeklong trip to Scotland, to make up for the (probably) lack of a white Christmas in England! Usually based in Fort William or Glencoe, UBES members take full advantage of Scotland’s epic range of winter mountaineering routes, with the more experienced members getting up before the sun for some ice and mixed climbing, and the majority making use of UBES’ ice axes and crampons for some snowy Munro-bagging. For those with no previous experience of winter walking, there is the opportunity to take part in a heavily subsidised winter skills course.
    </p>

    <p class="justify">
      The trip is normally oversubscribed, and offers of places will be based on levels of interest and enthusiasm shown throughout the term for all things UBES; we want to ensure our keenest members get the chance to go on this brilliant trip.
    </p>
  </div>
  <div class='col-md-4'>
    <img src="/assets/static/trips_4.jpg" style="padding: 10px"/>
    <img src="/assets/static/trips_5.jpg" style="padding: 10px"/>
  </div>
</div>

<div class="row">
  <h3>What to bring</h3>
<p class="justify">
   UBES have plenty of kit to borrow, but you should try and bring the following on a weekend expedition...
</p>
<ul>
    <li>Sleeping Bag</li>
    <li>Day rucksack</li>
    <li>Walking Boots</li>
    <li>Waterproof jacket and trousers</li>
    <li>Plastic survival bag (This is very important, you can buy these off us for about 3 pounds)</li>
    <li>Warm clothes</li>
    <li>Walking trousers (not jeans)</li>
    <li>Water bottle (a plastic coke bottle will be okay)</li>
    <li>Any climbing gear you have</li>
    <li>Change of clothes for evening</li>
    <li>Hat and Gloves</li>
    <li>First aid kit</li>
    <li>Head Torch</li>
    <li>Extra munchies + emergence food rations</li>
    <li>Alcohol (Beer/cider/whisky/vodka)</li>
    <li>Items of fun and amusement for evenings</li>
</ul>

</div>


