<h1>Scotland 2011</h1>
<p class="justify">
  The 28th December saw the annual mass migration of UBESters from across the UK to the snowy reaches of the Scottish
  Highlands. It was a long drive taking most of the day but in the early hours of the evening we finally arrived at the warm
  bunkhouses in Fort William.
</p>
<p class="justify">
  <img src="/assets/expeditions/Scotland/Scotland_image_11_02.jpg" alt="The Rabel" style="float:right; margin-left:40px;"/>
  Everyone was up bright and early the next morning to hit the mountains. Most of us, having not been winter walking before,
  spent the first 2 days doing the Winter Skills course. This was really good fun. The first day we were up in the Ben Nevis
  Bowl, where we were taught how to use our crampons and ice axes as well as how to look out for avalanches. The next day we
  put our new skill to the test as we climbed Stob Coire nan Lochain. It started snowing at around 400m and by 700m we had
  crampons and ice axes out. It was very cold and windy at the top so we didnt hang around long. Probably one of the
  highlights of the day though was bum sliding down one of the slopes on the way down!
</p>
<p class="justify">
  People spent the rest of the week on various climbs and walks. Several groups went up to the Cairngorms both for climbing
  and for walking and Glen Coe was a frequent destination for a lot of people.
</p>
<p class="justify">
  And in the evenings it was good to get back to a nice warm meal. We stayed at a really smart place called Calluna, run
  by mountaineer Alan Kimbers. Everyone was spread over 4 Bunkhouses, each with their own Living Room and Kitchen though
  we all tended to meet and cook in the same Bunkhouse. The food was much better than the standard UBES Slop (though we
  did have a portion on the first night); we even had Christmas/Roast dinner on one of the evenings. Everyone chipped
  in serving and preparing the food; though for most of us it was usually Sandwich making (there were a lot of sandwiches
  made that week).
</p>
<p class="justify">
  This year the trip once again fell over New Year. So as is traditional at this time of year a night of drinking and fun
  was had by all, culminating in an attempt at singing Auld Lang Syne at midnight.
</p>
<p class="justify">
  New Years Day saw a group of us doing the Ben Nevis horseshoe, from Glen Nevis up over the summit and down the ridge
  to Càrn Mòr Dearg (CMD). Tim had been eager to do this route for a long time and persuaded George to lead us.
</p>
<p class="justify">
  It was a long climb, not helped by the rain. I hadnt realise how un-waterproof salopettes were (last time I trust
      lables!) so had taken on a lot of water as we climbed. This problem soon disappeared though once we are through
  the snow line (though it all melted again on the decent). For much of the snow climb we were in white out conditions
  so hats off to George, Ross and Will for navigating us to the summit and then down the other side.
</p>
<p class="justify">
  <img src="/assets/expeditions/Scotland/Scotland_image_11_03.jpg" alt="Too much to drink" style="float:left; margin-right:20px;"/>
  We descended onto the ridge that brought us round to CMD, which we peaked just as it went dark. By the time we descended
  in to the bowl, head torches where out! Falling was more or less unavoidable!
</p>
<p class="justify">
  The week wasnt all extreme winter walking, on two of the days we did some really pleasant walks in the Highlands.
  The first was up the river Leven to the Dam of the Blackwater Reservoir. We were meant to cross the Dam and return on
  the other side of the valley but the Reservoir was overflowing making any attempt at a crossing dangerous.
</p>
<p class="justify">
  Of course after all that that walking it was good to take a day off. Tim, George (Frisby) and I spent most of the
  one of the afternoon and much of evening on Callunas Bouldering wall. It had a lot of really interesting routes
  but many of them were challenging. After several hours on the wall I was quite tired but I have to admire Frisbys
  stamina or probably more accurately determination to keep going. Even after Tim and I had gone to bed, I heard he was 
  still at it!
</p>
<p class="justify">
  The Scotland trip was a fantastic experience. The weather could have been better, it was cold and wet most of the week,
  with not much snow, but it didnt dampen our spirits. A big thanks must go to Martha, Amy and Naomi for organising
  this trip and to everyone who helped them make it a success! 
</p>
<img src="/assets/expeditions/Scotland/Scotland_image_11_01.jpg" alt="What a view" class="center-block"/>
