<div class="row">

  <div class="col-md-8">

  <h1>AGM</h1>

    <p class="justify">  The Annual General Meeting is where we elect the next years committee. But in true UBES style, it’s an opportunity to squeeze in the last bit of mountaineering before exams. We head to either Snowdonia or the Lake District in the last week of Easter Vacation and stay at a camp site. After 2 days of amazing walking and climbing opportunities, we build a campfire and vote for our committee. The next day gets off to a slow start and we head to a local pub for Sunday lunch. </p>

    <p class="justify">  Be sure to save the date, it’s unmissable and our biggest event of the year as well as great chance to have some fun with fellow UBESter and to make some memorable ember holes in your favourite kit when sitting around the fire. </p>
  
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/AGM_1.jpg"/>
  </div>
</div>
