<div class="row">
  <div class="col-md-8">
    <h1>Climbing</h1>

    <p class="justify">UBES go climbing every Wednesday afternoon, as well as pretty much anytime when the weather is good! In the summer we go outdoors in the gorge, but when it's cold and wet we go to one of Bristol's indoor walls - often <a href="http://www.redpointbristol.co.uk">Redpoint.</a> If you’re desire to climb can’t be quenched by our weekly sessions, then check out our <a href="https://www.facebook.com/groups/2202694095/">forum.</a> There are always members planning their own climbs during the week and it’s a great way to find new climbing partners. </p>

    <h3>Weekly Wall Sessions</h3>

    <p class="justify">We meet every Wednesday at 1pm outside the UBU Lettings Offie (next to the ASS) on Tyndall Avenue (between the Arts & Social Sciences Library and the Sports Centre) and walk down to one of the climbing walls as a group (usually Redpoint). The route can be a bit complex, but you are welcome to meet us there. Generally speaking, Climbing is from 2pm until about 5pm or until you get hungry/tired.</p>
  </div>
  <div class="col-md-4">
    
    <img src="/assets/pages/climbing_2.jpg" alt="Climbing don't work">    
  </div>
</div>

<div class="row">
  <div class="col-md-8">

    <h3>New to Climbing?</h3>

    <p class="justify">At the start of the year we run introductory climbing sessions specifically designed to teach beginners the basics of learning to climb and belay. If you’re interested drop one of our climbing officers an email at <a href="mailto:ubes-climbing@bristol.ac.uk">ubes-climbing@bristol.ac.uk</a>!</p>

    <h3>Climbing Outdoors</h3>

    <p class="justify">In addition to our weekly indoor climbing sessions, we regularly climb outside in the Avon Gorge and further afield to other destinations in the UK. We offer teaching, training and kit for people of all abilities. </p>


  </div>
  <div class="col-md-4">
    <img src="/assets/pages/climbing_3.jpg" alt="Climbing don't work">
  </div>
</div>

<div class="row">
  <div class="col-md-12">


    <h3>Kit</h3>
    <ul>
      <li> Loose clothes </li>
      <li> Trainers or climbing shoes- climbing shoes can be hired at the climbing wall </li>
      <li> Harness- can be borrowed from us for free (first come first serve) or hired at the climbing wall.  </li>
    </ul>
    <p class="justify">The society also has lead ropes for you to use. If you already have your own gear and don't want things to get mixed up or lost, then have a look at our <a href="https://drive.google.com/open?id=1tVuhgp2vNH6F6VuzJqI4nJT9iGj4vDiDmAUSRniRV3o">gear tape spreadsheet.</a></p>

    <h3>Scrambling</h3>

    <p class="justify">Scrambling is half way between rock climbing and hiking, and can be thought of as easy rock climbing (although some bits can be quite challenging) without ropes, normally on rocky aretes or ridges. On some weekends there might be an opportunity to do some scrambles, for example in The North Ridge of Tryfan in Snowdonia or Striding Edge in the Lake District.</p>
  </div>
</div>


