<h1>Committee 2015-16</h1>

<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Duncan2.jpg'" onmouseout="this.src='/assets/committee-15-16/Duncan1.jpg'" src="/assets/committee-15-16/Duncan1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> President - Duncan Edgley </h4>
      <p style="text-align: justify">
      Duncan, the King of UBES and Queen of our hearts, has returned to chair the committee this year. Having spent a year holed up in stores, sorting kit and scaring off mice, he is more than prepared for this new challenge. But fear not, Duncan has not changed. He is still reliably tired, and most importantly, happy and friendly.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Rebs2.jpg'" onmouseout="this.src='/assets/committee-15-16/Rebs1.jpg'" src="/assets/committee-15-16/Rebs1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Vice President - Rebecca Millington </h4>
      <p style="text-align: justify">
      An absolutely cracking mountaineer, heaps of fun and all around lovely girl - Rebecca is this year's Vice President. With trips all over the world under her belt honing her ice-climbing, alpinism and mountain skills she encompases all things UBES. With masses of determination to get things done, Rebecca will be a fantastic asset to the committee and society alike.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Ciaran2.jpg'" onmouseout="this.src='/assets/committee-15-16/Ciaran1.jpg'" src="/assets/committee-15-16/Ciaran1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Treasurer - Ciaran Guy </h4>
      <p style="text-align: justify">
      Ciaran lives life on the edge, he plays with fire, literally. He brings to the committee an armoury of unique talents including juggling, jive dancing and extreme sarcasm, which will no doubt brighten any Wednesday afternoon at the info point. Out on the mountains, Ciaran’s unending supply of biscuits and dry wit prevails even on the wettest of days. Don’t mess with him, as a faithful member he’s not afraid to reclaim your valuables in order to keep the UBES account in the black.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Lucy2.jpg'" onmouseout="this.src='/assets/committee-15-16/Lucy1.jpg'" src="/assets/committee-15-16/Lucy1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Secretary - Lucy Vass </h4>
      <p style="text-align: justify">
      Words fail when attempting to describe the entity that is Lucy Vass, though if anyone could manage this epic feat it would surely be our secretary extraordinaire herself. An active and committed UBEster and just generally a great person, her secretarial abilities will no doubt save us all from the chaos the rest of this committee would cause.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Jono2.jpg'" onmouseout="this.src='/assets/committee-15-16/Jono1.jpg'" src="/assets/committee-15-16/Jono1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Climbing Kit & Safety Officer - Jono Hawkins </h4>
      <p style="text-align: justify">
      Enthusiastic, charismatic, male. These are but a few of the words that describe Jono Hawkins. A seasoned climber before he arrived at the University of Bristol he has wasted no time in proving to everyone just how good at the sport he is. The many lead climbs he has completed in the gorge to date are evidence enough of this. When not climbing he is a truly lovely and approachable fella and is more than happy to share his extensive knowledge of climbing kit and safety with a new generation of UBESters.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Ash2.jpg'" onmouseout="this.src='/assets/committee-15-16/Ash1.jpg'" src="/assets/committee-15-16/Ash1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Kit & Safety - Ash King </h4>
      <p style="text-align: justify">
      A lean, mean, crazy-fringed outdoor machine, Ash is at the ready to help UBESters with their kit AND safety needs. With trips to Morocco and the UK's national parks under his belt, he's got plenty of experience to keep everyone happy on the hills and stores ship-shape. In his own words, he's "survived almost 20 years of life without even dying once" - what more do you want?!
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Alasdair2.jpg'" onmouseout="this.src='/assets/committee-15-16/Alasdair1.jpg'" src="/assets/committee-15-16/Alasdair1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Expeditions Officer - Alasdair Robertson </h4>
      <p style="text-align: justify">
      Usually found sporting a fine beard and serenading you with his penny whistle Alasdair has always been one of the keenest UBESters. Having gained an extensive amount of experience from his many trips he can also add the ability to recall the lyrics to any song imaginable, an encyclopaedic knowledge of birds and being recently crowned lake bagging champion to his list of many skills.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Adam2.jpg'" onmouseout="this.src='/assets/committee-15-16/Adam1.jpg'" src="/assets/committee-15-16/Adam1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Expeditions Officer - Adam Dawson </h4>
      <p style="text-align: justify">
      Though on the outside Adam may seem to be all smiles and cheeriness, underneath that huggable exterior are even more smiles and cheeriness. This intrepid Northman is notorious for being impossibly photogenic, his inner and outer beauty burning themselves onto the camera. Come down to Redpoint on Wednesday afternoons to admire his chiselled calves or just to bask in the company of one of the happiest UBESters out there.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Grout2.jpg'" onmouseout="this.src='/assets/committee-15-16/Grout1.jpg'" src="/assets/committee-15-16/Grout1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Social Secretary - Emily Grout </h4>
      <p style="text-align: justify">
      Emily. Also known as Grout. She is a perfect companion for hiking, mountaineering and chatting. Shares a strong passion for animals, travelling and everything green. Always keen to be the last one to leave every UBES social event. Her high pitched singing voice and variety of facial expressions make her an unforgettable UBESter!
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Putin1.jpg'" onmouseout="this.src='/assets/committee-15-16/Angelina1.jpg'" src="/assets/committee-15-16/Angelina1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Social Secretary - Angelina Pavlova </h4>
      <p style="text-align: justify">
      She’s a feisty Russian determined for UBESters to have a good time! Whether it’s climbing up the mountains or boogying till the early hours, Angelina is the keenest bean in UBES. Not only is she an excellent walker, but her walking trousers has created a lightning bolt through the mountains
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Laurence2.jpg'" onmouseout="this.src='/assets/committee-15-16/Laurence1.jpg'" src="/assets/committee-15-16/Laurence1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Climbing Officer - Laurence Falconer </h4>
      <p style="text-align: justify">
      With two years on the UBES committee, current climbing officer Laurence's experience on the hill and within the society cannot be questioned. His enthusiasm for all things UBES is infectious and rest assured climbing in the society will go from strength to strength with him in the role.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>


<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Jenks2.jpg'" onmouseout="this.src='/assets/committee-15-16/Jenks1.jpg'" src="/assets/committee-15-16/Jenks1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Climbing Officer - Thom Jenkinson </h4>
      <p style="text-align: justify">
      Thom, a mean lean climbing machine enjoys nothing more than pushing his limits on his latest trad project. Likely to be found in the Avon Gorge or hanging about at a bouldering wall. He is a climber full of experience with enthusiasm by the bucket, who loves getting new people out climbing!
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>



<div class="person">
  <div class="committee-photo">
    <img class="mugshot" onmouseover="this.src='/assets/committee-15-16/Emily2.jpg'" onmouseout="this.src='/assets/committee-15-16/Emily1.jpg'" src="/assets/committee-15-16/Emily1.jpg"/>
  </div>
  <div class="committee-desc">
    <div>
      <h4> Foreign Correspondent - Emily Hunt </h4>
      <p style="text-align: justify">If you don’t see a lot of Emily this year it’s for a very good reason; the young Huntress has embarked on a sabbatical to promote the good name of UBES in the Chamonix valley, and possibly learn a little French between trips to the mountains. If you do get the chance to say hi before 2016 though, you’re in for a treat - every bit as friendly as she is fierce, Emily is equally at home in the hills and in the pub.</p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>
