
<h3> Contacts </h3>
<ul class="contact-list">
  <li>UBES Committee: <a href="mailto:ubes-committee@bristol.ac.uk"> ubes-committee@bristol.ac.uk</a></li>
  <li>UBES Kit: <a href="mailto:ubes-kit@bristol.ac.uk"> ubes-kit@bristol.ac.uk</a></li>
  <li>UBES Climbing <a href="mailto:ubes-climbing@bristol.ac.uk"> ubes-climbing@bristol.ac.uk</a></li>
</ul>


<h3> Google Links </h3>
<ul class="contact-list">
  <li><a href="https://www.google.com/calendar/embed?src=ubescommittee%40gmail.com&ctz=Europe/London">Calendar</a></li>
  <li><a href="https://drive.google.com/open?id=1tVuhgp2vNH6F6VuzJqI4nJT9iGj4vDiDmAUSRniRV3o">Gear Tape List</a></li>
  <li><a href="https://drive.google.com/open?id=1mv-EUJ3L2WXOqy-hxz3kRfFA_f_30ArS2QzrhfCqbxo">UKC Usernames</a></li>
</ul>
