<div class="row">

  <h1>Expeditions</h1>
  
  <p class="justify">Every year, our Expedition Officers organise at least 1 summer expedition. These trips venture all over Europe and even further afield and usually involve 1­2 weeks of backpacking, but will often include other activities such as scrambling, climbing, wild camping and sightseeing.  The trips are welcome to any keen UBES members, although if there is a lot of interest, they have to be on a first­come­first serve basis.</p>

  <p class="justify">The expeditions are a great chance to experience some of the most break­taking mountainous areas outside of the UK with an excellent group of like­minded people. They are a great opportunity for members to gain skills in trip planning, experience some of the wilder off­the­beaten­track routes and challenge themselves. Our expeditions officers and members will also help you with kit list and what food to bring­ so don’t worry if you don’t have a lot of experience.</p>

  <p class="justify">We are conscious that trips like these can be expensive for students, so our Expedition Officers aim to make trips affordable by looking for good value flights and accommodation for the group. UBES can help to provide a lot of the kit­ for example tents and stoves­ to help keep your kit costs down.</p>

</div>


<div class="row">
  <h3>How to get involved</h3>
  <p class="justify">In around March each year UBES holds an information evening briefing members on the upcoming committee positions, training opportunities and most importantly a presentation on the summer expeditions! At this point in the year, the plans will still be an outline.From then, the expedition officers will usually make a facebook group for all interested and give you more information on the trip itinerary as it is planned. The group will come to an agreement on the final details such as dates and flights. Once decided, it’s up to members to book flights themselves and arrange their travel. </p>
  <p class="justify">In the time running up to the trip, the expedition officer will let you know a more detailed itinerary, the recommended kit and other useful information about what to expect. </p>
  <p class="justify">Then all you need to do it count down the days until the trip! In addition to our official expeditions, many of our keen members organise their own mountaineering adventures. Check out our blog for some examples.</p>
 
</div>


<div class="row">
  <p class="justify">Here are the outlines of some of our past trips:</p>
  
  
  <h3> Summer 2014 </h3>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
	<p>
          <h4>Morocco - Atlas Mountains</h4>
          <strong>Dates: </strong>25th June - 6 July<br>
          <strong>Activities:</strong> Backpacking, scrambling, wild camping <br>
          <strong>Cost:</strong> &#163;350  (estimated) <br>
	  Photo - Alex Waldron
	</p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/pages/morocco_1.jpg" alt="Norway this dont work">
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
	<p>
          <h4>Romania - Fagaras Mountains</h4>
          <strong>Dates: </strong>June<br>
          <strong>Activities:</strong> Hiking, Trekking, Camping, Site-seeing <br>
          <a href="https://www.flickr.com/photos/107329035@N05/14557325985/in/album-72157645063010038/">Photo:</a> - Rob Wragge-Morley
	</p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/pages/romania_1.jpg" alt="Norway this dont work">
      </div>
    </div>
  </div>
  <h3> Summer 2013 </h3>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
	<p>
          <h4>Norway</h4>
          <strong>Dates: </strong>25th June - 6 July<br>
          <strong>Activities:</strong> Hiking, Trekking, Camping <br>
          <strong>Cost:</strong> &#163;800  (estimated) <br>
	</p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/images/expeditions/norway09.jpg" alt="Norway this dont work" class="center-block" style="max-width: 100%;">
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h4>Corsica GR20</h4>
          <strong>Dates: </strong>25th August - 11th September<br>
          <strong>Activities:</strong> Hiking, Scrambling, Climbing! <br>
          <strong>Cost:</strong> Approximately &#163;400 <br>
        </p>
      </div>
      <div class='col-md-4'>
        <img src="/assets/images/expeditions/corsica3.jpg" alt="corsica there is" class="center-block" style="max-width: 100%">
      </div>
    </div>
  </div>
  <br>
  <h3> Summer 2012 </h3>
  <p>What a Summer! See where we went in 2012</p>

  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h4>Iceland</h4>
          Volcanoes, Waterfalls and Glaciers, a 55km trek through southern Iceland 
        </p>
        <p>
          <a href="<%= page_path("summertrips/iceland") %>">
            Click here
          </a>
          for a detailed trip report.
        </p>
      </div>
      <div class='col-md-4'>
	<a href="<%= page_path("summertrips/iceland") %>">
          <img src="/assets/images/expeditions/Iceland12/Icelands_12_01.jpg" alt="ICELAND!" class="center-block" style="max-width: 100%">
	</a>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class='col-md-8'>
        <p>
          <h4>Slovenia</h4>
          September 2012 saw ten highly enthusiastic ubesters travel to slovenia for 2 weeks of backpacking, scrambling, mountaineering in the julian alps
        </p>
        <p>
          <a href="<%= page_path("summertrips/slovenia") %>">
            Click here
          </a>
          for a detailed trip report.
        </p>
      </div>
      <div class='col-md-4'>
	<a href="<%= page_path("summertrips/slovenia") %>">
          <img src="/assets/images/expeditions/slovenia.jpg" alt="Slovenia!" class="center-block" style="max-width: 100%">
	</a>
      </div>
    </div>
  </div>


</div>
