<img src="/assets/pages/bristolsu-top-banner.png"/>

<h1>Join Us</h1>

<h3>Welcome Fair</h3>


<p class="justify">
  Come find us at the 2015 <a href="http://www.bristolsu.org.uk">Bristol SU</a> Welcome Fair! Our committee will be happy to chat to you about the society and answer any questions you have. You can also purchase membership at the Welcome Fair.
</p>

<h3>Mailing List</h3>

<p class="justify">
  Join the UBES mailing list to get weekly emails updating you on our trips, activities and socials. 
</p>


<h3>Membership</h3>

<p class="justify">
  <a href="http://www.bristolsu.org.uk/activities/societies/7603">Become a member</a> of UBES for only £12. No Athletics fee or Gym membership is required.
</p>

<p class="justify">
  Membership will allow you to;
  <ul>
    <li> Get introductory climbing instruction  </li>
    <li> Sign-up for weekend trips </li>
    <li> Access and borrow club kit </li>
    <li> Discount at <a href="http://www.cotswoldoutdoor.com">Cotswold Outdoor</a> and <a href="http://www.dicksclimbing.com">Dick’s Climbing</a>  </li>
    <li> Trip insurance </li>
  </ul>
</p>

<h3>Facebook</h3>
<p class="justify">
  If you're interested, make sure you follow <a href="http://www.facebook.com/bristolexpeditions">Bristol Expeditions</a> on Facebook and join the <a href="https://www.facebook.com/groups/2202694095/?fref=ts">UBES forum</a> to keep up to date with everything which is going on.
</p>
