<div class="row">
  <h1>Socials</h1>
  <div class="col-md-8">
    <p class="justify">  The UBES <a href="<%= page_path('new/committee') %>">Social Secretaries</a> work tirelessly by planning a series of epic socials and events throughout the year. Some for our annual socials include: </p>

    <ul>
      <li>Black Tie Christmas House Party- often held on the evening Mendips Challenge, features infamous ‘UBES punch’</li>
      <li>Christmas meal</li>
      <li>Pancake party</li>
      <li>Pub quiz </li>
      <li>Scavenger Hunt- 24 hours of total mayhem around Bristol and beyond, teams compete for points by completing some hilarious and often downright bizarre challenges. </li>
      <li>Post-exams BBQ</li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/socials_1.jpg" />
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <img src="/assets/pages/socials_2.jpg" />
  </div>
  <div class="col-md-8">
    <p class="justify">We also have regular socials with a fancy dress theme and bar crawls. In the past these have included ‘When I grow Up’ and ‘Board Game’ theme, so expect a challenge!</p>

    <p class="justify"> If you can’t get enough of UBES, members can also be found every Wednesday at the Highbury Vaults (next to Co-op on St. Michael's Hill) from around 9pm, so feely welcome to come and join us.</p>

    <p class="justify">Other exciting socials we’ve had in the past have included:</p>
    <li>Slack lining</li>
    <li>Laser Quest</li>
    <li>Curry Nights</li>

    <p class="justify">Keep track of our upcoming socials by joining the <a href="https://www.facebook.com/groups/2202694095/">Facebook group</a> and <a href="#">Mailing list.</a></p>
  </div>
  
</div>
