<div class="row">

  <h1>Training</h1>
  
  <p class="justify">UBES is committed to helping develop its members into independent and knowledgeable mountaineers. Through the society we offer members the chance to complete Mountain Leader training, Single Pitch Award training or First training at subsidised and accessible rates. These opportunities further increase the knowledge and safety within the society and allow individuals to work towards nationally recognised awards such as the <a href="http://www.mountain-training.org/walking/skills-and-awards/mountain-leader">Mountain Leader Award.</a></p>

  <p class="justify">We also run numerous events throughout the year such as Rope Skills afternoons and a Navigation Training day to pass the skills gained onto other members of the society.</p>

  <p class="justify">Read about these on the <a href="http://bristolexpeditions.blogspot.com">blog</a></p>
  
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Rope skills - Weekdays in first term</h3>

    Ran by members who have been on the ML and SPA training courses- a chance to pass on their knowledge to other UBES members. Topics will usually include;
    <ul>
      <li>skills from ML training and SPA</li>
      <li>scrambling, confidence roping</li>
      <li>setting up and equalising a belay</li>
    </ul>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/training_rope.jpg"/>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
    <h3>Navigation Training - Second Term</h3>


    <p class="justify">Our navigation training day is usually held in March in the Brecon Beacons. It includes work on group management skills, macro and micro nav, and night nav. Aimed at all skill levels, from those new to UBES looking to get out on their own, to those with more experience, looking to brush up before leading walks.</p>
  </div>
  <div class="col-md-4">
    <img src="/assets/pages/training_nav.jpg">
  </div>


</div>


<div class="row">
  <h3>Remote First Aid- Second Term</h3>

  <p class="justify">
    The first aid course arranged by UBES is wilderness specific. On top of the contents of a standard first aid course, it covers how to respond to situations in a remote environment. It is particularly useful for those leading walks, as it means most incidents can be dealt with confidently, and it meets the requirements for ML assessment. The course takes place in the second term over a weekend (16 hours). The qualification lasts for three years. </p>

  The course is run by Adam Gent: <a href="http://www.realfirstaid.co.uk/remotefirstaid/">http://www.realfirstaid.co.uk/remotefirstaid/</a>
</div>

<div class="row">
  <h3>Mountain Leader Training- Summer Holidays</h3>

  <p class="justify">The ML is an award given by the Mountain Training Association. For our members, ML training is a natural continuation from nav training, focusing more on the skills needed to safely lead a group in the mountains. Topics covered include moving a group on steep terrain, lots of nav practise and group management. The training is 6 days long, including a night of wild camping. After the training course, members could in the future go onto complete the internationally recognised award which is often required by employers in the outdoor industry. The syllabus and more information (including how to register) are available <a href="http://www.mountain-training.org/walking/skills-and-awards/mountain-leader"> here.</a></p>

  <p class="justify">
    Each year six members of UBES go to Snowdonia with Paul Poole to complete ML training - the cost of this is usually subsidised by the Students Union to make it more affordable.</p>

  <p class="justify">The course is run by Paul Poole: <a href="http://www.paulpoolemountaineering.co.uk/#!mountain-leader-training/cztc">http://www.paulpoolemountaineering.co.uk/#!mountain-leader-training/cztc</a></p>

</div>

<div class="row">
  <div class="col-md-8">
    <h3>Conville course</h3>

    <p class="justify">The Conville course is arranged in memory of Jonathan Conville, a young British mountaineer who died on the Matterhorn. It aims to give young mountaineers a chance to pick up the skills needed to move to higher altitude mountaineering and glaciated terrain.</p>

    <p class="justify">Each year, several members of UBES participate in the course, joined by older members who have completed the course in previous years.</p>

    <p class="justify">Find out more at <a href="http://www.jcmt.org.uk/courses/">http://www.jcmt.org.uk/courses/</a></p>

  </div>
  <div class="col-md-4">
    <img src="/assets/pages/training_conville.jpg"/>
  </div>

</div>

<div class="row">
  <h3>Winter Skills</h3>

  <p class="justify">The winter skills course is targeted at those who don't have previous experience in winter mountaineering and teaches new kills that everyone needs to know about Scottish Winter.</p>

  <p class="justify">It takes place on the first two days of the trip so everyone has a level grounding before being unleashed on the mountains for the rest of the week. </p>

  <p class="justify">
    The course contains a skills day teaching (amongst other things):
    <ul>
      <li> Ice axe arrest </li>
      <li> Walking axe and crampon techniques </li>
      <li> Reading snow conditions (Avalanche awareness, cornices etc.)</li>
    </ul>
  </p>
  
  <p class="justify">The second day involves putting these all into practice on a proper mountain day. </p>

  <p>The course is run by Rich Bentley: <a href="http://www.mountainmotion.co.uk/">http://www.mountainmotion.co.uk/</a></p>
</div>

<div class="row">
  <h3>SPA - Single Pitch Award training</h3>

  <p class="justify">
    An award also given by the Mountain Training Association. It’s aim is to increase safety among experienced climbers and allow them to supervise novice climbers.</p>
  <p class="justify">Read more at <a href="http://www.mountain-training.org/climbing/awards/single-pitch-award">http://www.mountain-training.org/climbing/awards/single-pitch-award</a></p>
</div>
