<div class="parent">
  <div class="parent-header">
    Hello I am the parent
  </div>
  <div class="child" style="display: none;">

    <div class="parent-header">
    Hello I am the child's parent content
    </div>
    <div class="child" style="display: none;">
      Child child
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading parent-header">Header</div>
  <div class="panel-body child">
    <ul>
      <li>
	<a class="parent-header" href="#">January</a>
	<ul class="child">
	  <li>Blog post A</li>
	  <li>Blog post B</li>
	</ul>
      </li>
    </ul>
  </div>
</div>


<script>
  $(document).ready(function(){
  $(".parent-header").click(function(){
    $(this).parent().children(".child").slideToggle(350);
  });
  });
</script>
