<div class="panel panel-default" id="blog-archive">
  <div class="panel-heading parent-header">
    <h4>Blog Archive</h4>
  </div>
  <div class="panel-body child" style="display: none;"> 

    <ul>
      <% @archive.each do |year, value| %>
      <li>
	<a class="parent-header" href="#"><%= year %></a>
	<ul class="child" style="display: none;">
	  <% value.each do |month, value| %>
          <li>
	    <a class="parent-header" href="#"><%= @months[month] %> (<%= value.length %>)</a>
	    <ul class="child" style="display: none;">
	      <% value.each do |entry| %>
	      <li><%= link_to entry.title, blog_path( :post_url => entry.url ) %></li>
	      <% end %>
	    </ul>
	  </li>
	  <% end %>
	</ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<div id="blog-post">
  <%= @blog_post.html_safe %>
</div>



<script>
  $(document).ready(function(){
  $(".parent-header").click(function(){
    $(this).parent().children(".child").slideToggle(350);
  });
  });

</script>
