/*
 * CUSTOM CSS STYLES 
 */
html {
    background-color: #e4eaf2;
    height: 100%;
}
body {
    height: 100%;
    background-color: #e4eaf2;
}


header {
    display: table-row;
    height: 1px;
}

p.justify{
    text-align: justify;
    padding: 10px 0px 0px;
}
img{
    max-width: 100%;
}
#header_image {
    width: 100%;
}
#page{
    display: table;
    background-color: #e4e4e4;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    padding: 40px 40px 40px 40px;
    height: 100%;
}
#content-wrapper{
    display: table-row;
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: white;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    
}
#content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px;
    
    background-color: white; 
    
}


.person{
    width: 100%;
    /* min-height: 180px; */
    padding: 3vw;
}
.committee-photo{
    float: left;
    min-width: 16vw;
}
.committee-desc{
    /* min-height: 160px; */
    padding: 5px;
}

.mugshot{
    height: auto;
    width: 15vw;
}

.destination{
    padding: 20px;
}

.contact-list{
    list-style: none;
    padding: 0;
}

.row {
    padding: 20px;
}

#banner {
    background-image: url("/assets/background.png");
}


/* Blog Images */
#blog-post img{
    margin: 20px;
}


/* Blog Paragraph */
.MsoNormal{
    padding: 20px;
    text-align: justify;
}

.post-title{
    padding: 20px;
    
}

#blog-archive {
    float: right;
    margin: 20px;
}

#blog-archive ul{
    margin: 0px 0px 5px 10px;
    padding: 0px;
    list-style: none;
}

#blog-archive a {
    text-decoration: none;
    color: #666;
}

#blog-archive a:hover{
    color: black;
}

.post-outer{
    padding: 40px;
}