<img src="/assets/expeditions/Slovenia12/Slovenia_Banner.jpg" alt="Slovenia Banner" style="max-width: 100%" class="center-block"/>
<p>
  September 2012 saw ten highly enthusiastic Ubesters travel to Slovenia for 2 weeks of backpacking, scrambling,
  mountaineering... and Lako (Lashko)! The Julian Alps, located in the far north west of the country, contain
  arguably its most beautiful landscape ranging from the thick, tick infested pine valleys to the snow-capped
  limestone peaks. And with such a wide variety of weather, we didnt have to search far to find a picture 
  postcard view every day of the trip.
</p>
<p>
  Be it by plane, bus, train or hot air balloon, we all met at Kranjska Gora, a valley town to the north of the
  national park. After checking in at our hostel to our bewilderment, the owner proceeded to drive us literally 100
  yards up the road to our room. All was not lost though as after a meal and a relaxing pint, or two, we were ready
  for our first taste of Slovenian mountains the next day.
</p>
<p>
  We spent the first week in the north-eastern area of Triglav national park and encountered some pretty hot
  weather for September. Taking advantage of this we conquered two peaks; Prisank (2547m) and Bovski Gamsovec (2392m).
</p>
<p>
  Each of these days involved some strenuous walking/scrambling up scree, often the handrails and pegs proved vital,
  but on the summits we were rewarded with stunning views of what felt like the whole Alps, along with Mt Triglav (2864m)
  itself; which we were to climb later. The other days were spent doing the most beautiful walk in the Julian Alps (according
  to the guide book) and bimbling up and down valleys, encountering most notably a magnificent waterfall and a seemingly
  never ending line of Ljubljanan schoolchildren!
</p>
<p>
  We stayed in mountain huts which provided the most basic of provisions: Beer and goulash! Showers were very few and far
  between, making the painful dunking your head in a sink of extremely cold water sometimes the only option. The
  evenings were spent mostly planning the next few days hiking, and playing cards; we even resorted at one stage to having
  a Hearts tournament! The unusual game Yaniv (renamed Ellen, who promoted it) also proved popular. Tom and Sarah sadly
  had to leave after the first week, so we celebrated their departure with round of Blueberry shots (god only knows whats
  in this wild but highly satisfying alcoholic beverage).
</p>
<p>
  The second week brought a drastic weather change. After a days rest in a valley hostel (with showers!!) we discovered
  that thered been a large dumping of snow on the peaks. This made our ascent of Triglav 2 days later all the more
  spectacular. We approached this sacred mountain, which dominates the entire eastern area of the park, from the south,
  walking from Vodnikov Dom to its precarious ridge via Dom Planika. It was a challenging but rewarding day, not only for
  the fact that we managed to unknowingly lock Lucas in the summit hut!
</p>
<p>
  The next two days saw us casually summiting Kanjavec (2569m), deciding that bum sliding down steep, snow covered slopes
  should become an Olympic sport, and getting slightly lost/into trouble on what was supposed to be a short bimble! We
  ended up trying in vain to contour round a steep, boulder and vegetation ridden mountain, with myself volunteering to
  scramble up a steep scree slope to investigate a potential route. The only positive that came from this was; the view
  I saw was amazing.
</p>
<p>
  Before we knew it our trip had come to an end, and after a demanding hike back to civilization down a long winding
  valley, and two days day spent rowing, exploring, partying, home cooking, and generally being tourists in Bled and
  Ljubljana, it was time for us to part ways. Many thanks to Naomi for organising a super expedition.
</p>

