<div class="item active">
  <img src="http://placehold.it/350x150" alt=""/>
</div>

<% photos.each do |photo| %>
<div class="item">
  <img src="<%= photo.url %>" alt="" style="display: block; margin: 0 auto; width: 100%; height: auto;"/>
  <div class="carousel-caption">
    <p><%= photo.title %></p>
  </div>
</div>
<% end %>
