<div class='row'>
<div class='col-md-8'>
  <div class='responsive-video'>
    <iframe src="//www.youtube.com/embed/nrku212TDrY?rel=0&theme=light&modestbranding=1&autoplay=0"  frameborder="0" allowfullscreen allowscriptacess="always"></iframe>
  </div>
</div>
<div class='col-md-4'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h2 class='panel-title'>Recent Blog entries</h2>
    </div>

    <div class='panel-body'>
        <% @feeds.entries.first(5).each do |entry| %>
          <p><a href="<%= entry.url %>"><%= entry.title %></a> </p>
        <% end %>
    </div>
  </div>
</div>
</div>



<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="blog_posts_carousel" class="carousel slide" data-interval="6000" ><!-- class of slide for animation -->
  <div class="carousel-inner" style="background: grey; max-height:200px; overflow: hidden">
    <%= render_flickr_images('2388847@N21', 10) %>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
  <a class="left carousel-control" href="#blog_posts_carousel" role="button" data-slide="prev">














    <span class='glyphicon glyphicon-arrow-left'></span>
  </a>
  <a class="right carousel-control" href="#blog_posts_carousel" role="button" data-slide="next">
    <span class='glyphicon glyphicon-arrow-right'></span>
  </a>
</div><!-- /.carousel -->

<div class='row'>
  <div class='col-md-6'>
    <h2>What we do</h2>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
   </p>
    <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
   </p>
  </div>
  <div class='col-md-6'>
  <h3> Another section! </h3>
    <p class='justify'>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
   </p>
    <p class='justify'>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
   </p>
   <p class='justify'>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
  </div>
</div>

