<div id="banner">
  <a href= <%= page_path('home') %> > <%= image_tag image_path("foreground.png"), id: "header_image" %></a>
</div>
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

	<li><a href="<%= page_path('home') %>">Home</a></li>
	<li><a href="<%= page_path('new/joinus') %>">Join us</a></li>
	<li><a href="<%= page_path('new/committee') %>">Committee</a></li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	    Trips <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><a href="<%= page_path('new/trips/what_to_expect') %>">What we do</a></li>
	    <li><a href="<%= page_path('new/trips/where_we_go') %>">Where we go</a></li>
	    <li><a href="<%= page_path('new/trips/kit_list') %>">Kit list</a></li>
	    <li><a href="<%= page_path('new/trips/scotland') %>">Scotland</a></li>
	  </ul>
	<li><a href="<%= page_path('new/expeditions') %>">Expeditions</a></li>
	<li><a href="<%= page_path('new/socials') %>">Socials</a></li>
	<li><a href="<%= page_path('new/AGM') %>">AGM</a></li>
	<li><a href="<%= page_path('new/training') %>">Training</a></li>
	<li><a href="<%= page_path('new/contacts') %>">Links</a></li>
	

	<li><a href="https://www.facebook.com/groups/2202694095/" target="_blank">Forum</a></li>
	<li><a href="https://www.facebook.com/bristolexpeditions?fref=ts" target="_blank">Follow Us</a></li>

	
	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown()
  });
</script>

