<!DOCTYPE html>
<html>
<head>
  <title>UBES</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="page" class="container fill">
    <header>
      <%= render :partial => "layouts/nav_bar" %>
    </header>
    <div id="content-wrapper">
      <div id="content">
	<%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
